.grid__card{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 1rem;
    border-radius: 0.5em;
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    padding: 35px;
    cursor: pointer;

}
.grid__card:hover{
    transform: scale(1.02);
    transition: all 0.3s;
}
.grid__card_border_red:hover{
    border: 2px solid var(--red);
    transition: all 0.3s;
}

.grid__card_border_green:hover{
    border: 2px solid var(--green);
    transition: all 0.3s;
}
.name{
    text-transform: uppercase;
}

.nameandlike{
    display: flex;
    justify-content: space-between;
}

.nameandicon{
    display: flex;
    align-items: center;
    gap: 0.9rem;
    min-width: 15em;
}
.name,.shortname{
    margin: 0;
}
.shortname{
    font-size: .8rem;
    color: var(--grey);
}

.rectangle,.greenrectangle{
    padding: 0rem  1.75rem;
    border-radius: 30px;
    min-width: 60px;
    text-align: center;
}
.rectangle{
    border: 2px solid var(--red);
}
.greenrectangle{
    border: 2px solid var(--green);
}

.circle,.greencircle{
    padding: 5px;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
   border: 2px solid var(--red);
}
.greencircle{
    border: 2px solid var(--green);
    
}

.price_change{
    font-size: 0.8rem;
}

.percentage{
    display: flex;
    gap: 1rem;
    align-items: center;
}


.green{
    color: var(--green);
}

.red{
    color: var(--red);
}

.volume{
    font-weight: 200;
}
.current{
    font-size: 0.7rem;
  
}

.current_price{
    margin: 0;
    min-width: 20em;
}